@page
@model Smart.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About Our CS 4790 Group</h1>
<div class="row mb-auto">
    <div class="col-md-6">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Dalton Larsen
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Jake Fowler
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Ryan Middleton
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Peter Tran
                </p>
            </div>
        </div>
    </div>
</div>



