@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">S.M.A.R.T. Tools</h1>
            @*<div class="col-3">
                <a asp-area="" asp-page="/Students/Index" class="btn btn-info"><i class="fas fa-address-card"></i>Applicants</a>
            </div>
            <div class="col-6">
                <a asp-area="" asp-page="/Students/Index" class="btn btn-info"><i class="fas fa-address-card"></i>Students</a>
            </div>
            <div class="col-9">
                <a asp-area="" asp-page="/Students/Index" class="btn btn-info"><i class="fas fa-address-card"></i>Reports</a>
            </div>
            <div class="col-12">
                <a asp-area="" asp-page="/Students/Index" class="btn btn-info"><i class="fas fa-address-card"></i>Attendance</a>
            </div>*@
        
    </div>
