@page
@model IndexModel
@using Smart.Utility
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">S.M.A.R.T. Tools</h1>
    @if (User.IsInRole(SD.AdminUser) || User.IsInRole(SD.InstructorUser) || User.IsInRole(SD.RaterUser) || User.IsInRole(SD.SocialWorkerUser))
    {
        <div class="row">
            <div class="col-lg-6">
                <a asp-area="" asp-page="/Students/Index" class="btn-applicant form-control"><i class="fas fa-address-card"></i>Applicants</a>
            </div>
            <div class="col-lg-6">
                <a asp-area="" asp-page="/Students/Index" class="btn-students form-control"><i class="fas fa-address-card"></i>Students</a>
            </div>
            <div class="col-lg-6">
                <a asp-area="" asp-page="/Students/Index" class="btn-reports form-control"><i class="fas fa-address-card"></i>Reports</a>
            </div>
            <div class="col-lg-6">
                <a asp-area="" asp-page="/Students/Index" class="btn-attendance form-control"><i class="fas fa-address-card"></i>Attendance</a>
            </div>
        </div>
    }
</div>
