@page
@model IndexModel
@using Smart.Utility
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">S.M.A.R.T. Tools</h1>
        @if (User.IsInRole(SD.AdminUser))
        {
            <div class="row">
                <div class="col-lg-6">
                    <a asp-area="" asp-page="/Applicants/Index" class="btn-applicant form-control"><i class="fas fa-address-card"></i>Applicants</a>
                </div>
                <div class="col-lg-6">
                    <a asp-area="" asp-page="/Students/Index" class="btn-students form-control"><i class="fas fa-address-card"></i>Students</a>
                </div>
                <div class="col-lg-6">
                    <a asp-area="" asp-page="/Ratings/Index" class="btn-reports form-control"><i class="fas fa-address-card"></i>Reports</a>
                </div>
                <div class="col-lg-6">
                    <a asp-area="" asp-page="/Instructors/Assessments/Index" class="btn-assessments form-control"><i class="fas fa-address-card"></i>Assessments</a>
                </div>
            </div>
        }
        else if (User.IsInRole(SD.InstructorUser))
        {
    <div class="row">
        <div class="col-lg-6">
            <a asp-area="" asp-page="/Applicants/Index" class="btn-applicant form-control"><i class="fas fa-address-card"></i>Applicants</a>
        </div>
        <div class="col-lg-6">
            <a asp-area="" asp-page="/Students/Index" class="btn-students form-control"><i class="fas fa-address-card"></i>Students</a>
        </div>
        <div class="col-lg-6">
            <a asp-area="" asp-page="/Ratings/Index" class="btn-reports form-control"><i class="fas fa-address-card"></i>Reports</a>
        </div>
        <div class="col-lg-6">
            <a asp-area="" asp-page="/Instructors/Assessments/Index" class="btn-assessments form-control"><i class="fas fa-address-card"></i>Assessments</a>
        </div>
    </div>
        }
        else if (User.IsInRole(SD.RaterUser))
        {
    <div class="row">
        <div class="col-lg-6">
            <a asp-area="" asp-page="/Applicants/Index" class="btn-applicant form-control"><i class="fas fa-address-card"></i>Applicants</a>
        </div>
        <div class="col-lg-6">
            <a asp-area="" asp-page="/Students/Index" class="btn-students form-control"><i class="fas fa-address-card"></i>Students</a>
        </div>
        <div class="col-lg-6">
            <a asp-area="" asp-page="/Ratings/Index" class="btn-reports form-control"><i class="fas fa-address-card"></i>Reports</a>
        </div>
        <div class="col-lg-6">
            <a asp-area="" asp-page="/Instructors/Assessments/Index" class="btn-assessments form-control"><i class="fas fa-address-card"></i>Assessments</a>
        </div>
    </div>
        }
        else if (User.IsInRole(SD.SocialWorkerUser))
        {
    <div class="row">
        <div class="col-lg-6">
            <a asp-area="" asp-page="/Applicants/Index" class="btn-applicant form-control"><i class="fas fa-address-card"></i>Applicants</a>
        </div>
        <div class="col-lg-6">
            <a asp-area="" asp-page="/Students/Index" class="btn-students form-control"><i class="fas fa-address-card"></i>Students</a>
        </div>
        <div class="col-lg-6">
            <a asp-area="" asp-page="/Ratings/Index" class="btn-reports form-control"><i class="fas fa-address-card"></i>Reports</a>
        </div>
        <div class="col-lg-6">
            <a asp-area="" asp-page="/Instructors/Assessments/Index" class="btn-assessments form-control"><i class="fas fa-address-card"></i>Assessments</a>
        </div>
    </div>
        }
        else
        {
            <p>Log in to the Application with a user account to get respective functionality.</p>
        }
    </div>
