@page
@using System.Linq;
@using Smart.Utility;
@model Smart.Pages.Notes.IndexModel

@{
    ViewData["Title"] = "Note Portal";
}

<h1>Index</h1>

<div class="col-4 text-left">
    <a asp-page="Create" class="btn btn-info">Create New</a>
</div>
<div class="backgroundWhite container">

    @foreach (var item in Model.Note)
    {
        @if (User.IsInRole(SD.AdminUser))
        {
            <div class="row" id="menu-wrapper">
                <partial name="_NotePartialView"
                         model="@Model.Note.Where(m => m.NoteType.Description.Equals(item.NoteType.Description) && item.Disabled.Equals(false))" />
            </div>
        }

        else
        {
            @if (User.IsInRole(SD.InstructorUser))
            {
                if (item.NoteType.Description.Equals("Instructor Note"))
                {
                    <div class="row" id="menu-wrapper">
                        <partial name="_NotePartialView"
                                 model="@Model.Note.Where(m => m.NoteType.Description.Equals(item.NoteType.Description) && item.Disabled.Equals(false))" />
                    </div>
                }
            }

            @if (User.IsInRole(SD.SocialWorkerUser))
            {
                if (item.NoteType.Description.Equals("SocialWorker Note"))
                {
                    <div class="row" id="menu-wrapper">
                        <partial name="_NotePartialView"
                                 model="@Model.Note.Where(m => m.NoteType.Description.Equals(item.NoteType.Description) && item.Disabled.Equals(false))" />
                    </div>
                }
            }

            @if (User.IsInRole(SD.RaterUser))
            {
                if (item.NoteType.Description.Equals("Rating Note"))
                {
                    <div class="row" id="menu-wrapper">
                        <partial name="_NotePartialView"
                                 model="@Model.Note.Where(m => m.NoteType.Description.Equals(item.NoteType.Description) && item.Disabled.Equals(false))" />
                    </div>
                }
            }
        }


    }
</div>
