@model IEnumerable<ScheduleAvailability>
@using Smart.Models
@using Smart.Utility

@{ 
    SD.EDayOfWeek DayOfWeek = (SD.EDayOfWeek)Model.First().DayOfWeek;
}

<div class="card row">
    <div class="card-header">
        <h5>@DayOfWeek</h5>
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var sa in Model)
        {
        <li class="list-group-item">
            @Html.DisplayFor(s => sa.StartTime) - @Html.DisplayFor(s => sa.EndTime)
            <a class="btn btn-danger float-right" asp-page="Index" asp-page-handler="Remove" asp-route-scheduleId="@sa.ScheduleAvailabilityId" type="button">Remove</a>
        </li>
        }
    </ul>
</div>
<div class="pb-3"></div>

