@page
@model Smart.Pages.ClassSchedule.IndexModel
@using Smart.Utility
@{
    ViewData["Title"] = "Class Schedule";
}
<h2>Class Schedule</h2>

@{
    var currentDay = 8;
}
<form method="get" asp-action="ClassSchedule/Index" id="TermForm">
    <select name="termId" id="TermId" asp-items="Model.Terms" class="form-control"></select>
</form>

@if (Model.Classes != null && Model.Classes.Count != 0)
{
    <select id="ClassId" asp-items="Model.Classes" class="form-control"></select>
}

@foreach (var schedule in Model.ScheduleAvailabilities)
{
    @if (currentDay != schedule.DayOfWeek)
    {
        SD.EDayOfWeek DayOfWeek = (SD.EDayOfWeek)schedule.DayOfWeek;
        currentDay = schedule.DayOfWeek;
        <h5>@DayOfWeek</h5>
    }
    <div>
        @Html.DisplayFor(s => schedule.StartTime) - @Html.DisplayFor(s => schedule.EndTime)
    </div>
}

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $('#TermId').change(function () {
                $('#TermForm').submit();
            });
        });
    </script>
}
